.custome-home {
    padding-top: 165px;
    /*margin-bottom: 120px;*/
}
.custome-text {
    margin-bottom: 15px;
    text-align: center;
}
.custome-home a{
    width: 200px;
    height: 50px;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;
    font-size: 20px;
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}